name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          cache: npm
          node-version: '16.16.0'
      - run: |
          npm ci
          npx lerna bootstrap
          npm run build
      - run: cd ./packages/builder && npm test
      - run: cd ./packages/registry && REPORT_GAS=1 npm test
