name: Test-e2e

on:
  push:
    branches: [main, alpha, dev, fix/e2e-tests]
  pull_request:
    branches: [main, alpha, dev]

jobs:
  test-e2e:
    runs-on: ubuntu-latest
    env:
      CANNON_DIRECTORY: ${{ github.workspace }}/.cannon
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive' # this is necessary to install dependencies on e2e tests (bats)

      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          cache: pnpm
          node-version: '20.18.0'

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Cache used IPFS files
        uses: actions/cache@v4
        with:
          key: cannon-ipfs-cache_${{ runner.os }}-${{ github.job }}-${{ github.sha }}-${{ github.run_id }}-${{ github.run_attempt }}
          restore-keys: cannon-ipfs-cache_
          path: ${{ env.CANNON_DIRECTORY }}/ipfs_cache
          save-always: true

      - run: pnpm i --prefer-frozen-lockfile
      - run: pnpm build

      - name: E2E Tests
        run: cd ./packages/cli && pnpm test-e2e
        env:
          CANNON_E2E_RPC_URL_OPTIMISM: ${{ secrets.CANNON_E2E_RPC_URL_OPTIMISM }}
          CANNON_E2E_RPC_URL_ETHEREUM: ${{ secrets.CANNON_E2E_RPC_URL_ETHEREUM }}
