name: Test-snx-ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-snx-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20.5.1'
          cache: 'npm'
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly-ef62fdbab638a275fc19a2ff8fe8951c3bd1d9aa
      - run: npm ci
      - run: npm run build
        env:
          NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}

      - name: Initialize submodules
        run: git submodule update --init --recursive

      - name: Synthetix CI Downstream
        run: cd ./packages/cli && npm run test-snx-ci
