name: Test-e2e

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-e2e:
    runs-on: ubuntu-latest
    env:
      CANNON_DIRECTORY: .cannon/
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20.5.1'
          cache: 'npm'

      - uses: actions/cache/restore@v4
        with:
          key: ${{ runner.os }}-${{ github.job }}-cannon-ipfs-cache
          path: ${{ env.CANNON_DIRECTORY }}/ipfs_cache

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - run: npm ci
      - run: npm run build
        env:
          NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}

      - name: Update Hardhat Example Package
        run: cd ./examples/sample-hardhat-project && npm i

      - name: Update Foundry Example Package
        run: cd ./examples/sample-foundry-project && npm i

      - name: Initialize submodules
        run: cd ./packages/cli && npm run test-e2e-prepare

      - name: E2E Tests
        run: cd ./packages/cli && npm run test-e2e
        env:
          CANNON_E2E_RPC_URL_OPTIMISM: ${{ secrets.CANNON_E2E_RPC_URL_OPTIMISM }}
          CANNON_E2E_RPC_URL_ETHEREUM: ${{ secrets.CANNON_E2E_RPC_URL_ETHEREUM }}

      - uses: actions/cache/save@v4
        if: always()
        with:
          key: ${{ runner.os }}-${{ github.job }}-cannon-ipfs-cache
          path: ${{ env.CANNON_DIRECTORY }}/ipfs_cache
