name: Verify

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "16.8.0"
          cache: "npm"
          cache-dependency-path: '**/package-lock.json'
      - run: npm ci
      - run: npm run lint

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x] # 18.x currently breaks on website, will be added later
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false # messes up download of ssh dependencies
      - name: Use Foundry (for anvil)
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly
      - run: anvil --version
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: npm ci
      - run: npx lerna bootstrap
      - run: npm run build
      - run: cd ./packages/sample-project && npm run test
